<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="list-main" *ngIf="!isLoading && submission">
  <div class="list-item">Submission Name: {{ submission.submission_name }}</div>
  <mat-divider></mat-divider>
  <div class="list-item">Context: {{ submission.context }}</div>
  <mat-divider></mat-divider>
  <div class="list-item">Start Date: {{ submission.start_date }}</div>
  <mat-divider></mat-divider>
  <div class="list-item">Due Date: {{ submission.due_date }}</div>
  <mat-divider></mat-divider>
  <div class="list-item">Subject Name: {{ submission.classroom_name }}</div>
  <mat-divider></mat-divider>
  <div class="list-item" *ngIf="!checkSubmit()">
    <form [formGroup]="form" (submit)="uploadSubmission()">
      <div class="file-upload">
        <button mat-stroked-button type="button" (click)="filePicker.click()">
          Pick PDF File
        </button>
        <input
          type="file"
          #filePicker
          (change)="onFilePicked($event)"
          accept="application/pdf"
        />
        <span class="file-name" *ngIf="selectedFileName">
          Selected file: {{ selectedFileName }}
        </span>
      </div>
      <div class="button-container">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form.valid"
        >
          Upload
        </button>
      </div>
    </form>
  </div>
  <div class="list-item" *ngIf="checkSubmit()">
    Your Upload:
    <table class="upload-table">
      <tbody>
        <tr>
          <td>
            <span class="upload-time">
              {{ ourData.upload_time | date : "short" }}
            </span>
          </td>
          <td class="button-actions">
            <button mat-mini-fab color="primary">
              <a [href]="ourData.file" target="_blank">
                <mat-icon>visibility</mat-icon>
              </a>
            </button>
            <button
              mat-mini-fab
              color="warn"
              (click)="deleteSubmission(ourData)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="grade-info" *ngIf="ourData.grade">
      <h3>Grade Information</h3>
      <div class="grade-details">
        <p class="grade-value" [ngClass]="ourData.grade < 4 ? 'low' : 'high'">
          <strong>Grade:</strong> {{ ourData.grade }}
        </p>
        <p *ngIf="ourData.comment">
          <strong>Teacher's Comment:</strong> {{ ourData.comment }}
        </p>
      </div>
    </div>
  </div>
</div>
